/* Universal */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F7F5;
}

h3,
h4,
h5,
h6,
p {
    font-family: 'Arial';
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #0E2646;
    line-height: 1.2;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #0E2646;
    line-height: 1.1;
}

h3 {
    font-size: 1.3rem;
    color: black;
    line-height: 1.4;
}

h4 {
    font-size: 1.1rem;
    line-height: 1.4;
}

p {
    font-size: 1.05rem;
    line-height: 1.5;
}

a {
    color: #2074B4;
    text-decoration: underline;
}

a:hover {
    color: #145496;
    cursor: pointer;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.spacer {
    display: block;
    margin: 0 auto;
    margin: 10rem 10rem;
    height: 2px;
    background: #0E2646;
}

button {
    background-color: #0E2646;
    color: white;
    height: 2.5rem;
    padding: .25rem 1rem;
    margin-top: .5rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
}

button:hover,
.contact-icons img:hover {
    cursor: pointer;
    opacity: .8;
}

button:active,
.contact-icons img:active {
    opacity: .5;
}

.four-zero-four {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem 2rem 0 2rem;
}

.four-zero-four h1 {
    font-size: 8rem;
}

@media only screen and (min-width: 1600px) {
    .spacer {
        margin: 8rem auto;
        width: 75rem;
    }
}

@media only screen and (max-width: 1425px) {
    .spacer {
        margin: 8rem 5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .spacer {
        height: 1px;
        margin: 5rem 2rem;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .four-zero-four h1 {
        font-size: 5rem;
    }
}

/* Header */

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    max-width: 100%;
    padding: 0 10rem;
}

.fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F7F7F5;
    z-index: 999;
}

.logo {
    width: 3.5rem;
}

.logo:hover {
    opacity: .75;
}

.logo-mobile {
    display: none;
}

header ul {
    display: flex;
    flex-flow: row;
    gap: 4rem;
}

header ul li a {
    font-family: Arial;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

header ul li a:hover {
    font-family: Arial;
    font-size: 1rem;
    color: black;
}

header ul li a:hover,
header ul li a.active {
    background-color: #EFEFEF;
    padding: 8px 15px;
    margin: -8px -15px;
    border-radius: .9rem;
}

#home,
#blog,
#shop {
    background-color: #EFEFEF;
    padding: 8px 15px;
    margin: -8px -15px;
    border-radius: .9rem;
}

#hamburger-icon {
    display: none;
}

#x-icon {
    display: none;
}

#burger-links {
    display: none;
    background-color: #0E2646;
}

#burger-links a {
    font-family: Arial;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    text-align: center;
    border-bottom: 1px solid #D2D3D7;
}

@media only screen and (min-width: 1600px) {
    header {
        margin: 0 auto;
        padding: 0;
        width: 75rem;
    }
}

@media only screen and (max-width: 1425px) {
    header {
        padding: 0 5rem;
    }
}

@media only screen and (max-width: 1000px) {
    header {
        padding: 0 2rem;
    }

    header ul {
        display: none;
    }

    #hamburger-icon {
        display: inline;
        width: 2.2rem;
    }
}

@media only screen and (max-width: 500px) {
    header {
        padding: 0 2rem;
    }

    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: inline;
    }

    .logo {
        width: 3rem;
    }
}

/* Hero */

.hero {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem 10rem 0 10rem;
}

.hero-text {
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
    padding: 0 5rem 0 0;
}

.hero-image img {
    width: 40rem;
    max-width: 100%;
    border-radius: 15px;
}

@media only screen and (min-width: 1600px) {
    .hero {
        margin: 0 auto;
        padding: 5rem 0 0 0;
        width: 75rem;
    }
}

@media only screen and (max-width: 1425px) {
    .hero {
        gap: 2rem;
        padding: 5rem 5rem 0 5rem;
    }

    .hero-text {
        gap: 1rem;
        padding: 0 8rem 0 0;
    }
}

@media only screen and (max-width: 1200px) {
    .hero-text {
        gap: 1rem;
        padding: 0 4rem 0 0;
    }
}

@media only screen and (max-width: 1000px) {
    .hero {
        flex-flow: column;
        gap: 3rem;
        padding: 5rem 10rem 0 10rem;
    }

    .hero-text {
        padding: 0;
    }

    .hero-image img {
        max-width: 100%;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 770px) {
    .hero {
        padding: 5rem 5rem 0 5rem;
    }
}

@media only screen and (max-width: 500px) {
    .hero {
        padding: 5rem 2rem 0 2rem;
    }
}

/* Projects */

#projects {
    margin: 0 10rem;
}

#projects h2 {
    padding-bottom: 1rem;
}

#projects h3 {
    padding-bottom: 3rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 1rem;
}

.project-cover:hover {
    cursor: pointer;
    opacity: .8;
}

.project-cover img {
    max-width: 100%;
    border-radius: 15px;
}

@media only screen and (min-width: 1600px) {
    #projects {
        margin: 0 auto;
        width: 75rem;
    }
}

@media only screen and (max-width: 1425px) {
    #projects {
        margin: 0 5rem;
    }
}

@media only screen and (max-width: 1000px) {
    #projects {
        margin: 0 2rem;
    }
}

@media only screen and (max-width: 770px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

@media only screen and (max-width: 500px) {
    .projects-grid {
        display: flex;
        flex-flow: column;
    }
}

/* Fun Facts */

.fun-facts {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

#dynamic-fun {
    background-color: #FDFDFC;
    border-radius: 1rem;
    margin: 1rem 0 0 0;
}

@media only screen and (max-width: 500px) {
    .fun-facts {
        padding: 0 2rem;
    }
}

/* Contact */

#contact {
    margin: 0 10rem;
}

#contact h2 {
    padding-bottom: 1rem;
}

#contact h3 {
    width: 50%;
}

.contact-icons {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2rem 0 0 0;
}

.contact-icons img {
    width: 2.5rem;
}

@media only screen and (min-width: 1600px) {
    #contact {
        margin: 0 auto;
        padding: 0;
        width: 75rem;
    }
}

@media only screen and (max-width: 1425px) {
    #contact {
        margin: 0 5rem;
    }
}

@media only screen and (max-width: 1000px) {
    #contact h3 {
        width: 100%;
    }

    #contact {
        margin: 0 2rem;
    }
}

@media only screen and (max-width: 500px) {
    #contact {
        margin: 0 2rem;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;
    padding-top: 8rem;
}

.footer-home {
    margin-top: 20rem;
}

.copyright {
    color: #696969;
}

/* Project Features */

.project-feature {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    width: 50%;
    margin: 0 auto;
    padding: 7rem 2rem 0 2rem;
}

.project-title h1 {
    padding-bottom: .5rem;
}

.project-tools {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.project-tools h4 {
    color: #696969;
    font-size: .9rem;
}

.tool {
    border: 1px solid #D2D3D7;
    border-radius: 10px;
    padding: 2px 10px;
}

.project-feature img {
    border-radius: 15px;
}

.project-feature ul {
    list-style: disc;
    padding-left: 2rem;
}

.project-feature ul li {
    font-family: Arial;
    color: black;
    font-size: 1.05rem;
    line-height: 1.4;
}

#launch-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

#launch-button-link {
    display: inline-block;
    text-decoration: none;
    color: #FDFDFC;
}

@media only screen and (min-width: 1600px) {
    .project-feature {
        margin: 0 auto;
        padding: 7rem 0 0 0;
        width: 50rem;
    }
}

@media only screen and (max-width: 1425px) {
    .project-feature {
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {
    .project-feature {
        width: 70%;
    }
}

@media only screen and (max-width: 770px) {
    .project-feature {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .project-feature {
        width: auto;
        padding: 5rem 2rem 0 2rem;
    }
}

/* Shop */

.shop-all {
    margin: 0 10rem;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
    justify-content: left;
    justify-items: center;
    gap: 1rem;
    margin: 7rem 0 0 0;
}

.product-cover {
    display: flex;
    flex-flow: column;
    gap: .7rem;
}

.product-cover:hover {
    cursor: pointer;
    opacity: .8;
}

.product-cover img {
    max-width: 100%;
    border-radius: 15px;
}

.product-cover h2,
.product-cover h4 {
    text-align: center;
}

@media only screen and (min-width: 1600px) {
    .shop-all {
        margin: 0 auto;
        padding: 0;
        width: 75rem;
    }
}

@media only screen and (max-width: 1425px) {
    .shop-all {
        margin: 0 5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .shop-all {
        margin: 0 2rem;
    }
}

@media only screen and (max-width: 770px) {
    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

@media only screen and (max-width: 500px) {
    .products-grid {
        display: flex;
        flex-flow: column;
    }
}

/* Product Page */

.product-feature {
    display: flex;
    flex-flow: row;
    gap: 10rem;
    margin: 7rem 10rem;
}

.product-images img {
    max-width: 100%;
    width: 40rem;
    border-radius: 15px;
}

.product-info {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

@media only screen and (min-width: 1600px) {
    .product-feature {
        margin: 0 auto;
        padding: 7rem 0 0 0;
        width: 75rem;
    }
}

@media only screen and (max-width: 1425px) {
    .product-feature {
        margin: 7rem 5rem;
    }

    .product-info {
        gap: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .product-feature {
        gap: 5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .product-feature {
        flex-flow: column;
        align-items: center;
        gap: 2rem;
        margin: 7rem 2rem;
    }

    .product-info {
        padding: 0 7rem;
    }
}

@media only screen and (max-width: 900px) {
    .product-info {
        padding: 0 5rem;
    }
}

@media only screen and (max-width: 850px) {
    .product-info {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 770px) {
    .product-info {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 770px) {
    .product-info {
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .product-feature {
        display: flex;
        flex-flow: column;
    }
}

/* Blog */

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 3rem;
    padding: 7rem 10rem 0 10rem;
}

.article-card {
    display: flex;
    flex-flow: column;
    gap: .6rem;
}

.article-card p {
    color: #696969;
    font-size: .9rem;
}

.article-card h3 a {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: #0E2646;
    text-decoration: none;
}

.article-card img:hover {
    cursor: pointer;
    opacity: .8;
}

.article-card img {
    max-width: 100%;
    border-radius: 15px;
}

@media only screen and (min-width: 1600px) {
    .articles-grid {
        margin: 0 auto;
        width: 75rem;
    }
}

@media only screen and (max-width: 1425px) {
    .articles-grid {
        padding: 5rem 5rem 0 5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .articles-grid {
        padding: 5rem 2rem 0 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .articles-grid {
        display: flex;
        flex-flow: column;
        gap: 2rem;
    }
}

/* Article */

.article {
    display: flex;
    flex-flow: column;
    align-content: space-between;
    gap: 1.5rem;
    width: 42rem;
    max-width: 90%;
    margin: 0 auto;
    padding: 6rem 2rem 0 2rem;
}

.author-info p {
    color: #696969;
}

.author-card {
    display: flex;
    gap: .75rem;
}

.author-image {
    width: 2.5rem;
}

.author-image img {
    max-width: 100%;
}

.author-info p {
    font-size: .85rem;
}

.article h1,
.article h2,
.article h3,
.article h4 {
    color: #0E2646;
}

.article h2 {
    font-size: 1.75rem;
}

.article h3 {
    color: black;
    font-weight: bold;
}

.article i {
    font-style: italic;
}

span {
    display: inline;
    font-family: 'Lucida Console', monospace;
    font-size: .85rem;
    font-weight: 500;
    background-color: #eee;
    border-radius: 4px;
    padding: 0.3rem 0.4rem 0.1rem;
    vertical-align: middle;
    white-space: nowrap;
}

pre {
    text-align: left;
    white-space: pre-line;
    background-color: #eee;
    border-radius: 0.5rem;
    line-height: 1.2;
    padding: 0.5rem 0.75rem;
    overflow: auto;
}

code {
    display: inline;
    font-family: 'Lucida Console', monospace;
    font-size: .85rem;
    font-weight: 500;
}

.blog-image img {
    max-width: 100%;
    border-radius: 15px;
}

.line-break {
    border: 1px solid #D2D3D7;
}

@media only screen and (min-width: 1600px) {
    .article {
        margin: 0 auto;
        padding: 6rem 0 0 0;
        max-width: 60rem;
    }
}

@media only screen and (max-width: 770px) {
    .article {
        width: auto;
        max-width: 100%;
        margin: 0;
        padding: 4rem 2rem 0 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .article {
        padding: 5rem 2rem 0 2rem;
    }
}