/* Universal */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F4F3F0;
}

h3,
h4,
h5,
h6,
p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: #080806;
    line-height: 1.2;
    letter-spacing: 1px;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #080806;
    line-height: 1.1;
}

h3 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #080806;
    line-height: 1.4;
}

h4 {
    font-size: 1.2rem;
    color: #69696F;
    line-height: 1.4;
}

p {
    font-size: 1.15rem;
    line-height: 1.5;
    color: #080806;
}

h3 span {
    font-weight: 400;
}

a {
    color: #0472e7;
    text-decoration: none;
}

a:hover {
    color: #1895e8;
    cursor: pointer;
    text-decoration: underline;
}

i {
    font-style: italic;
}

.spacer {
    height: 1px;
    background: #69696F;
    opacity: 50%;
    border: none;
    width: 100%;
    margin: 0 auto;
}


.spacer-2 {
    display: block;
    margin: 0 auto;
    margin: 1rem 0rem;
    height: 1px;
    background: #69696F;
}

button {
    background-color: #46596c;
    color: #FFFFFF;
    height: 2.5rem;
    padding: .25rem 1.5rem;
    margin-top: .5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: .95rem;
}

button:hover {
    cursor: pointer;
    background-color: #364554;
}

#contact-button {
    height: 2rem;
    margin-top: 0;
    padding: .25rem .6rem .25rem .4rem;
    color: #69696F;
    background-color: transparent;
    font-weight: normal;
}

#copy-icon {
    width: 1.4rem;
    padding: 0 0 0 .6rem;
}

#checkmark-icon {
    display: none;
    width: 1.4rem;
    padding: 0 0 0 .6rem;
}

.copy-to-clipboard {
    border: 1px solid #69696F;
    border-radius: 5px;
    z-index: 5;

}

.copy-to-clipboard:hover {
    cursor: pointer;
}

.contact-icons img:hover {
    cursor: pointer;
    opacity: .8;
}

button:active,
.contact-icons img:active {
    opacity: .5;
}

.four-zero-four {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
    padding: 16rem 2rem 18rem 2rem;
}

.four-zero-four h1 {
    font-size: 8rem;
    color: #688CA0;
}

@media only screen and (min-width: 1510px) {
    .spacer {
        max-width: 86rem;
    }
}

@media only screen and (max-width: 800px) {
    .four-zero-four {
        padding: 10rem 2rem 12rem 2rem;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.15rem;
    }

    .four-zero-four h1 {
        font-size: 5rem;
    }
}

/* Header */

#header,
#header2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F4F3F0;
    z-index: 999;
    transition: box-shadow 0.1s ease-in-out;
}

.nav-pages {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    max-width: 100%;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header ul li a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #69696F;
    text-decoration: none;
}

header ul li a:hover {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    color: #69696F;
    opacity: .8;
    text-decoration: none;
}

#home a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #080806;
    text-decoration: none;
}

.home a:hover {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    color: #69696F;
    opacity: .8;
    text-decoration: none;
}
.contact-icons img {
    width: 1.3rem;
    padding: 0 .5rem;
}

.mobile-nav {
    display: none;
}

.mobile-nav img {
    width: 1.8rem;
    max-width: 100%;
}

#x-icon {
    display: none;
}

#burger-links {
    display: none;
    background-color: #F4F3F0;
    padding-bottom: 1rem;
}

.mobile-nav a {
    font-family: 'DM Sans', sans-serif;
    color: #69696F;
    text-decoration: none;
    font-size: 1.1rem;
}

#burger-links a {
    font-family: 'DM Sans', sans-serif;
    color: #69696F;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    text-align: left;
}

@media only screen and (min-width: 700px) {
    header {
        margin: 0 auto;
        width: 44rem;
    }
}

@media only screen and (max-width: 700px) {
    header {
        padding: 0 3rem;
    }

    header ul {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    #hamburger-icon {
        width: 2.2rem;
    }

    #burger-links a {
        padding: 1rem 3rem;
    }
}

@media only screen and (max-width: 770px) {
    header {
        padding: 0 1rem;
    }

    #burger-links a {
        padding: 1.4rem 1rem;
    }
}

/* Hero */

.hero {
    display: flex;
    flex-flow: column;
    gap: 4rem;
    align-items: start;
    padding: 8rem 1rem 8rem 1rem;
}

.hero-bio {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.hero-pfp {
    width: 4.5rem;
}

.email-subscribe {
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
    max-width: 32rem;
}

.email-subscribe-text {
    display: flex;
    flex-flow: column;
    gap: .3rem;
}

.email-subscribe p {
    font-size: 1rem;
    max-width: 32rem;
}

.formkit-form[data-uid="4dc2efc10b"] .formkit-fields {
    flex-wrap: nowrap;
    flex-flow: column;
}

.hero-articles-container {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    min-width: 44rem;
    max-width: 44rem;
}

.hero-articles-container p {
    color: #69696F;
}

.hero-articles-container .read-more a {
    display: inline-flex;
    flex-flow: row;
    gap: .5rem;
    justify-content: end;
    padding: 1rem 0 0 0;
}

.hero-articles {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    min-width: 44rem;
    max-width: 44rem;
}

.read-more {
    text-align: end;
}

.hero-articles-container .read-more a:hover {
    text-decoration: none;
    opacity: .8;
}

.read-more p {
    font-size: .8rem;
}

.hero .email-subscribe {
    padding: 4rem 0 0 0;
}

@media only screen and (min-width: 700px) {
    .hero {
        gap: 2rem;
        margin: 0 auto;
        width: 44rem;
        padding: 8rem 1rem 0 1rem;
    }
}

@media only screen and (max-width: 700px) {
    .hero-bio {
        padding: 0;
    }

    .hero-left .email-subscribe {
        padding: 0;
    }

    .hero-left, .hero-right, .hero-articles, .hero-articles-container {
        width: 100%;
        min-width: auto;
        max-width: 100%;
    }

    .hero-right h4 {
        padding: 0;
    }

    .article-card {
        min-width: 0;
        padding: 1rem 0;
    }
}

@media only screen and (max-width: 500px) {
}

/* About */

.about {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    gap: 2rem;
    max-width: 44rem;
    padding: 8rem 1rem 0 1rem;
}

.about .email-subscribe {
    padding: 4rem 0 0 0;
}

@media only screen and (max-width: 800px) {
    .about {
        padding: 8.5rem 1rem 0 1rem;
    }
}

/* Now */

.now {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    gap: 2rem;
    max-width: 44rem;
    padding: 8rem 1.5rem 0 1.5rem;
}

.now-update-time,
.disclaimer {
    font-size: 1rem;
    font-weight: 200;
}

.now h3 {
    font-weight: 500;
}

.now-block {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.now .email-subscribe {
    padding: 4rem 0 0 0;
}

@media only screen and (max-width: 800px) {
    .now {
        padding: 8.5rem 1rem 0 1rem;
    }
}

/* Blog */

.all-articles {
    display: flex;
    flex-flow: column;
    align-items: start;
    padding: 8rem 0 0 0;
    gap: 4rem;
}

.articles-block {
    display: flex;
    flex-flow: column;
    gap: 4rem;
    min-width: 44rem;
    max-width: 44rem;
    margin: 0 auto;
}

.article-year-block {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.article-year {
    font-weight: 600;
}

.article-titles {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.all-articles h3 {
    font-size: 1.4rem;
}

.all-articles .email-subscribe {
    padding: 4rem 0 0 0;
}

@media only screen and (max-width: 1000px) {
    .all-articles {
        padding: 8rem 1rem 0 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .articles-block {
        min-width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .all-articles {
        padding: 8rem 1rem 0 1rem;
    }
}

/* Article */

.article {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    width: 44rem;
    margin: 0 auto;
    padding: 8rem 1rem 4rem 1rem;
}

.article-header {
    display: flex;
    flex-flow: column;
    gap: .8rem;
}

.article-info {
    display: flex;
    flex-flow: row;
    gap: 1.5rem;
}

.article-info p,
.image-text {
    font-size: 1rem;
    font-weight: 200;
}

.writing-category, .writing-genre {
    border: 1px solid #69696F;
    border-radius: .2rem;
    padding: 0 .4rem;
}

.article-body {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    margin: 0 auto;
}

.article-body h2 {
    padding: .5rem 0 0 0;
}

.article-body h3 {
    font-weight: 500;
    padding: .5rem 0 .5rem 0;
}

.article-body span {
    font-weight: 500;
}

.blog-image {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

.blog-image img {
    max-width: 100%;
    border-radius: 5px;
}

.div-line {
    height: 1px;
    background: #080806;
    border: none;
}

.article .email-subscribe {
    padding: 4rem 0 0 0;
}

@media only screen and (min-width: 700px) {
    .article {
        gap: 2rem;
        margin: 0 auto;
        padding: 8rem 0 4rem 0;
        max-width: 44rem;
    }

    .article-body {
        display: flex;
        flex-flow: column;
        align-content: space-between;
        gap: 1.5rem;
        max-width: 60rem;
        margin: 0 auto;
        padding: 0 0 0 0;
    }
}

@media only screen and (max-width: 700px) {
    .article {
        width: auto;
        max-width: 100%;
        margin: 0;
        padding: 8rem 1rem 4rem 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .article {
        padding: 8rem 1rem 4rem 1rem;
    }
}

/* Shop */

.shop-all {
    margin: 0 10rem;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
    justify-content: center;
    justify-items: center;
    gap: 4rem;
    padding: 12rem 0 20rem 0;
}

.product-cover {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.product-cover:hover {
    cursor: pointer;
    opacity: .8;
}

.product-cover img {
    max-width: 100%;
    border-radius: 5px;
}

.product-cover h2,
.product-cover h4 {
    text-align: center;
}

.product-cover h2 {
    font-size: 1.5rem;
}

@media only screen and (max-width: 1425px) {
    .shop-all {
        margin: 0 5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .shop-all {
        margin: 0 2rem;
    }
}

@media only screen and (max-width: 770px) {
    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
        gap: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    .shop-all {
        margin: 4rem 1rem 0 1rem;
    }

    .products-grid {
        display: flex;
        flex-flow: column;
        padding: 4rem 0 4rem 0;
    }
}

/* Product Page */

.product-feature {
    display: flex;
    flex-flow: column;
    gap: 10rem;
    padding: 12rem 10rem 12rem 10rem;
}

.product-images img {
    max-width: 100%;
    width: 44rem;
    border-radius: 5px;
}

.product-image-bottom-container {
    display: flex;
    flex-flow: column;
    gap: 4rem;
}

.product-image-bottom-container img {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
}

.product-info {
    max-width: 40%;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.button-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-button a {
    color: white;
    text-decoration: none;
}

.product-copy {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.product-copy h2 {
    padding: 0 0 1rem 0;
}

@media only screen and (min-width: 1510px) {
    .product-feature {
        display: flex;
        flex-flow: row;
        gap: 10rem;
        margin: 0 auto;
        padding: 12rem 0 2rem 0;
        width: 80rem;
    }

    .product-image-bottom-container {
        margin: 0 auto;
        padding: 6rem 0 6rem 0;
        width: 80rem;
    }

    .product-copy {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
        margin: 0 auto;
        padding: 6rem 0 0 0;
        width: 42rem;
    }
}

@media only screen and (max-width: 1510px) {
    .product-page {
        padding: 0 10rem;
    }

    .product-feature {
        padding: 12rem 5rem 0 5rem;
        gap: 5rem;
    }

    .product-info {
        margin: 0 auto;
        max-width: 42rem;
    }

    .product-images img {
        max-width: 100%;
        width: 100%;
        border-radius: 5px;
    }

    .product-image-bottom-container {
        padding: 6rem 5rem;
    }

    .product-copy {
        padding: 6rem 5rem 0 5rem;
        margin: 0 auto;
        max-width: 42rem;
    }
}

@media only screen and (max-width: 1200px) {
    .product-page {
        padding: 0;
    }

    .product-feature {
        padding: 10rem 3rem 0 3rem;
        gap: 5rem;
    }

    .product-image-bottom-container {
        padding: 6rem 3rem;
    }

    .product-copy {
        padding: 6rem 3rem 0 3rem;
    }
}

@media only screen and (max-width: 770px) {
    .product-feature {
        padding: 10rem 1rem 0 1rem;
        gap: 5rem;
    }

    .product-image-bottom-container {
        padding: 6rem 1rem;
    }

    .product-copy {
        padding: 6rem 1rem 0 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .product-feature {
        padding: 8rem 1rem 0 1rem;
        gap: 3rem;
    }

    .product-image-bottom-container {
        padding: 3rem 1rem 6rem 1rem;
    }

    .product-copy {
        padding: 3rem 1rem 0 1rem;
    }
}

/* Footer */

footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    justify-content: center;
    padding: 8rem 1rem 1.5rem 1rem;
}

footer p {
    font-size: 1rem;
    color: #69696F;
}

/* 
Something Brewing

There’s something brewing in the air
You can almost touch it, taste it, feel it
At once familiar but long forgotten
The veil hath been pierced
It won’t be pretty
*/