/* Universal */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FDFDFD;
}

h3,
h4,
h5,
h6,
p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: #69696F;
    line-height: 1.2;
    letter-spacing: 1px;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #69696F;
    line-height: 1.1;
}

h3 {
    font-size: 1.2rem;
    color: #69696F;
    line-height: 1.4;
}

h4 {
    font-size: 1.2rem;
    color: #69696F;
    line-height: 1.4;
}

p {
    font-size: 1.15rem;
    line-height: 1.5;
    color: #69696F;
}

a {
    color: #44B9DE;
    text-decoration: underline;
}

a:hover {
    color: #44B9DE;
    cursor: pointer;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.spacer {
    display: block;
    margin: 0 auto;
    margin: 5rem 0rem;
    height: 1px;
    background: #69696F;
}

.spacer-2 {
    display: block;
    margin: 0 auto;
    margin: 1rem 0rem;
    height: 1px;
    background: #69696F;
}

button {
    background-color: transparent;
    color: #69696F;
    height: 2.5rem;
    padding: .25rem 1rem;
    margin-top: .5rem;
    border: 1px solid #69696F;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: #69696F;
    color: #080806;
}


.contact-icons img:hover {
    cursor: pointer;
    opacity: .8;
}

button:active,
.contact-icons img:active {
    opacity: .5;
}

.four-zero-four {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem 2rem 0 2rem;
}

.four-zero-four h1 {
    font-size: 8rem;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .four-zero-four h1 {
        font-size: 5rem;
    }
}

/* Header */

header ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    max-width: 100%;
    padding: 0 10rem;
}

.nav-email {
    border: 1px solid #69696F;
    border-radius: 10px;
    padding: .3rem .6rem;
}

.fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FDFDFD;
    z-index: 999;
    transition: box-shadow 0.1s ease-in-out;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header ul li a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #69696F;
    text-decoration: none;
}

header ul li a:hover {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    color: #69696F;
    opacity: .8;
}

.contact-icons img {
    width: 1.3rem;
    padding: 0 .5rem;
}

.mobile-nav {
    display: none;
}

#x-icon {
    display: none;
}

#burger-links {
    display: none;
    background-color: #FDFDFD;
    padding-bottom: 1rem;
}

#burger-links a {
    font-family: 'DM Sans', sans-serif;
    color: #69696F;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    text-align: left;
}

@media only screen and (min-width: 1510px) {
    header {
        width: 70rem;
        margin: 0 auto;
    }

    header ul {
        padding: 0;
    }
}

@media only screen and (max-width: 1200px) {
    header ul {
        padding: 0 8rem;
    }
}

@media only screen and (max-width: 1000px) {
    header {
        padding: 0 4rem;
    }

    header ul {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    #hamburger-icon {
        width: 2.2rem;
    }

    #burger-links a {
        padding: 1rem 4rem;
    }
}

@media only screen and (max-width: 770px) {
    header {
        padding: 0 1.5rem;
    }

    #burger-links a {
        padding: 1rem 1.5rem;
    }
}

/* Hero */

.hero-bio {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    padding: 6rem 8rem 10rem 8rem;
    margin: 0 2rem;
    border-radius: 0.625rem;
    background: linear-gradient(104deg, #EBF2F6 -7.77%, #F7F4EC 103.38%);
}

.hero-pfp {
    width: 3.75rem;
}

.inline-bg {
    display: inline-block;
    background-color: #232426;
    padding: .05rem .5rem;
    border-radius: 40px;
    width: fit-content;
}

@media only screen and (min-width: 1510px) {
    .hero-bio {
        width: 70rem;
        margin: 0 auto;
        padding: 6rem 10rem 10rem 10rem;
    }
}

@media only screen and (max-width: 1200px) {
    .hero-bio {
        padding: 4rem 6rem 8rem 6rem;
    }
}

@media only screen and (max-width: 1000px) {
    .hero-bio {
        padding: 2rem 3rem 4rem 3rem;
        margin: 0 1rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 770px) {
    .hero-bio {
        padding: 2rem 1.5rem 4rem 1.5rem;
        margin: 0;
        border-radius: 0%;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.8rem;
    }
}

/* Projects */

.projects-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    overflow: hidden;
    padding: 2rem 0rem;
}

.feature-image-container {
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
    width: 72rem;
    margin: 0 auto;
}

.feature-image {
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.feature-image-title {
    display: flex;
    flex-flow: row;
    align-content: center;
    gap: 1rem;
}

@media only screen and (max-width: 1200px) {
    .feature-image-container {
        display: flex;
        flex-flow: column;
        gap: 1.2rem;
        width: 50rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    .projects-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 2rem;
        margin: 0 1rem;
        width: auto;
    }

    .feature-image-container {
        display: flex;
        flex-flow: column;
        gap: 1.2rem;
        width: 100%;
    }
}

/* Services */

.services-container {
    border-radius: 0.625rem;
    background: linear-gradient(104deg, #EBF2F6 -7.77%, #F7F4EC 103.38%);
    margin: 14rem 6rem;
    padding: 2rem 4rem 4rem 4rem;
}

.services-grid {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 6rem;
    padding: 3rem 0 0 0;
}

.services-stack {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    width: 100%;
}

.service-block {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.service-block h1 {
    color: #0D0D0E;
    font-weight: 500;
}

.divider {
    border-bottom: 1px solid #0D0D0E;
}

@media only screen and (min-width: 1425px) {
    .services-container {
        width: 70rem;
        margin: 14rem auto;
    }
}

@media only screen and (max-width: 1200px) {
    .services-container {
        margin: 14rem 4rem;
    }
}

@media only screen and (max-width: 1080px) {
    .services-grid {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 3rem 0 0 0;
    }
}

@media only screen and (max-width: 1000px) {
    .services-container {
        margin: 6rem 1rem;
        padding: 2rem 3rem 4rem 3rem;
    }
}

@media only screen and (max-width: 770px) {
    .services-container {
        border-radius: 0;
        margin: 6rem 0rem;
        padding: 2rem 1.5rem 4rem 1.5rem;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 2.5rem 2rem;
}

.footer-home {
    margin-top: 25rem;
}

.footer-name-and-title h1 {
    font-size: 3rem;
}

.footer-nav {
    display: flex;
    flex-flow: row;
    gap: 4rem;
}

.footer-nav ul {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

footer ul li a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #69696F;
    text-decoration: none;
}

footer ul li a:hover {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    color: #69696F;
    opacity: .8;
}

@media only screen and (min-width: 1425px) {
    footer {
        width: 78rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    footer {
        padding: 0 1rem 2.5rem 1rem;
    }

    .footer-home {
        margin-top: 15rem;
    }
}

@media only screen and (max-width: 900px) {
    footer {
        flex-flow: column;
        flex-direction: column-reverse;
        gap: 2.5rem;
        padding: 0 1rem 2.5rem 1rem;
    }

    .footer-nav {
        display: none;
    }
}

@media only screen and (max-width: 515px) {
    .footer-name-and-title h1 {
        font-size: 1.8rem;
    }
}

    /* Project Features */

    .project-feature {
        display: flex;
        flex-flow: column;
        gap: 5rem;
        width: 72rem;
        margin: 0 auto;
        padding: 7rem 2rem 0 2rem;
    }

    .project-title h1 {
        padding-bottom: .5rem;
    }

    .project-tools {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
    }

    .project-tools h4 {
        color: #69696F;
        font-size: .9rem;
    }

    .tool {
        border: 1px solid #69696F;
        border-radius: 5px;
        padding: 2px 10px;
    }

    .project-feature ul {
        list-style: disc;
        padding-left: 2rem;
    }

    .project-feature ul li {
        font-family: 'DM Sans', sans-serif;
        color: #69696F;
        font-size: 1.15rem;
        line-height: 1.4;
    }

    .project-header {
        display: flex;
        flex-flow: column;
        gap: 2rem;
    }

    .project-feature img {
        max-width: 100%;
        border-radius: 5px;
    }

    .disclaimer {
        display: inline-block;
        margin: 0 auto;
        width: fit-content;
        padding: .5rem 1rem;
        border: 1px solid;
        border-radius: 5px;
    }

    .two-column {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .two-column-left {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
        width: 40%;
    }

    .two-column-right {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
        width: 40%;
    }

    .case-study-paragraph {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
    }

    #launch-button {
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    #launch-button-link {
        display: inline-block;
        text-decoration: none;
        color: #FDFDFC;
    }

    .stat-container {
        display: flex;
        flex-flow: column;
        justify-items: center;
    }

    .big-stat {
        font-size: 3.4rem;
    }

    .stat-descriptor {
        font-size: 1rem;
    }

    @media only screen and (min-width: 1600px) {
        .project-feature {
            margin: 0 auto;
            padding: 7rem 0 0 0;
            width: 72rem;
        }
    }

    @media only screen and (max-width: 1425px) {
        .project-feature {
            width: 75%;
        }
    }

    @media only screen and (max-width: 1000px) {
        .project-feature {
            width: 80%;
        }

        .two-column {
            flex-flow: column;
            gap: 2rem;
        }

        .two-column-right,
        .two-column-left {
            width: 100%;
        }
    }

    @media only screen and (max-width: 770px) {
        .project-feature {
            width: 80%;
        }
    }

    @media only screen and (max-width: 500px) {
        .project-feature {
            width: auto;
            padding: 5rem 1.5rem 0 1.5rem;
        }
    }

    /* Shop */

    .shop-all {
        margin: 0 10rem;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
        justify-content: center;
        justify-items: center;
        gap: 4rem;
        margin: 7rem 0 0 0;
    }

    .product-cover {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
    }

    .product-cover:hover {
        cursor: pointer;
        opacity: .8;
    }

    .product-cover img {
        max-width: 100%;
        border-radius: 5px;
    }

    .product-cover h2,
    .product-cover h4 {
        text-align: center;
    }

    .product-cover h2 {
        font-size: 1.5rem;
    }

    @media only screen and (max-width: 1425px) {
        .shop-all {
            margin: 0 5rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        .shop-all {
            margin: 0 2rem;
        }
    }

    @media only screen and (max-width: 770px) {
        .products-grid {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            gap: 4rem;
        }
    }

    @media only screen and (max-width: 500px) {
        .shop-all {
            margin: 0 1.5rem;
        }

        .products-grid {
            display: flex;
            flex-flow: column;
            margin: 4rem 0 0 0;
        }
    }

    /* Product Page */

    .product-feature {
        display: flex;
        flex-flow: row;
        gap: 10rem;
        margin: 7rem 10rem;
    }

    .product-images img {
        max-width: 100%;
        width: 40rem;
        border-radius: 5px;
    }

    .product-info {
        max-width: 50%;
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
    }

    .button-container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .product-button a {
        color: white;
        text-decoration: none;
    }

    @media only screen and (min-width: 1600px) {
        .product-feature {
            margin: 0 auto;
            padding: 7rem 0 0 0;
            width: 75rem;
        }
    }

    @media only screen and (max-width: 1425px) {
        .product-feature {
            margin: 7rem 5rem;
        }

        .product-info {
            gap: 1rem;
        }
    }

    @media only screen and (max-width: 1200px) {
        .product-feature {
            gap: 5rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        .product-feature {
            flex-flow: column;
            align-items: center;
            gap: 2rem;
            margin: 7rem 2rem;
        }

        .product-info {
            padding: 0 7rem;
            max-width: 100%;
        }
    }

    @media only screen and (max-width: 900px) {
        .product-info {
            padding: 0 5rem;
        }
    }

    @media only screen and (max-width: 850px) {
        .product-info {
            padding: 0 3rem;
        }
    }

    @media only screen and (max-width: 770px) {
        .product-info {
            padding: 0 2rem;
        }
    }

    @media only screen and (max-width: 770px) {
        .product-info {
            padding: 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .product-feature {
            display: flex;
            flex-flow: column;
            margin: 4rem 1.5rem;
        }
    }

    /* Blog */

    .articles-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        justify-content: center;
        justify-items: center;
        gap: 3rem;
        padding: 7rem 10rem 0 10rem;
    }

    .article-card {
        display: flex;
        flex-flow: column;
        gap: .6rem;
    }

    .article-card p {
        color: #69696F;
        font-size: .9rem;
    }

    .article-card h3 a {
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        color: #69696F;
        text-decoration: none;
    }

    .article-card img:hover {
        cursor: pointer;
        opacity: .8;
    }

    .article-card img {
        max-width: 100%;
        border-radius: 5px;
    }

    @media only screen and (min-width: 1600px) {
        .articles-grid {
            margin: 0 auto;
            width: 75rem;
        }
    }

    @media only screen and (max-width: 1425px) {
        .articles-grid {
            padding: 5rem 5rem 0 5rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        .articles-grid {
            padding: 5rem 2rem 0 2rem;
        }
    }

    @media only screen and (max-width: 500px) {
        .articles-grid {
            display: flex;
            flex-flow: column;
            gap: 2rem;
            padding: 5rem 1.5rem 0 1.5rem;
        }
    }

    /* Article */

    .article {
        display: flex;
        flex-flow: column;
        align-content: space-between;
        gap: 1.5rem;
        width: 42rem;
        max-width: 90%;
        margin: 0 auto;
        padding: 6rem 2rem 0 2rem;
    }

    .author-info p {
        color: #69696F;
    }

    .author-card {
        display: flex;
        gap: .75rem;
    }

    .author-image {
        width: 2.5rem;
    }

    .author-image img {
        max-width: 100%;
    }

    .author-info p {
        font-size: .85rem;
    }

    .article h1,
    .article h2,
    .article h3,
    .article h4 {
        color: #69696F;
    }

    .article h2 {
        font-size: 1.75rem;
    }

    .article h3 {
        color: #69696F;
        font-weight: bold;
    }

    .article i {
        font-style: italic;
    }

    span {
        display: inline;
        color: #0D0D0E;
    }

    pre {
        text-align: left;
        white-space: pre-line;
        background-color: #eee;
        border-radius: 5px;
        line-height: 1.2;
        padding: 0.5rem 0.75rem;
        overflow: auto;
    }

    code {
        display: inline;
        font-family: 'Lucida Console', monospace;
        font-size: .85rem;
        font-weight: 500;
    }

    .blog-image img {
        max-width: 100%;
        border-radius: 5px;
    }

    .line-break {
        border: 1px solid #D2D3D7;
    }

    @media only screen and (min-width: 1600px) {
        .article {
            margin: 0 auto;
            padding: 6rem 0 0 0;
            max-width: 60rem;
        }
    }

    @media only screen and (max-width: 770px) {
        .article {
            width: auto;
            max-width: 100%;
            margin: 0;
            padding: 4rem 2rem 0 2rem;
        }
    }

    @media only screen and (max-width: 500px) {
        .article {
            padding: 5rem 1.5rem 0 1.5rem;
        }
    }